/********************************************************************************************************************
                                                    ABOUT SECTION
********************************************************************************************************************/
html,
body{
    height: 100%;
}
h1,h2,h3,h4{
    margin: 0;
    padding: 0;
}

.padding-margin-0{
    padding: 0;
    margin: 0;
}

/*****************************************************
					header section
*****************************************************/

.navbar-collapse {
	padding-top: 15px;
/*	padding-bottom: 5px;*/
}
.navbar-collapse{
	
}
.navbar-default {
    background-color: rgba(255,255,255,0);
    border: none;
}
.navbar-brand>img{
	position: relative;
	bottom:5px;
}
#menu{
	float: right;
}
.collapse>.nav>li .size{
	font-size: 17px;
	padding-right: 20px;
	position: relative;
	bottom: 5px;
	right: 350px;
	color: #fff;
}


.collapse>.nav>li>a>.size{
	padding-right: 0;
	padding-left: 10px;
}
.collapse>.nav>li>.size:hover{
	color: #14BDEB;
}

/*****************************************************
					Home section
*****************************************************/

#home{
	height: 100%;
}
.bg-img{
	background: url(../images/background.jpg) no-repeat;
	background-size: 100% 100%;
	height: 670px;
}
.row{
	margin-right: 0;
}
.container-fluid{
	padding: 0;
	margin: 0 auto;
}
.information{
	background: rgba(0,0,0,0.7);
    position: relative;
    bottom: 670px;
    height: 670px;
	display: table;
	width: 100%;
}
.information .saveWorld,.goGreen,.savePlanate{
	font-size: 50px;
	font-family:mr dafoe,sans-serif;
	padding-left: 170px;
	color: #fff;
}
.information .goGreen{
	padding-left: 235px;
}

.information .savePlanate{
	padding-left: 265px;
	font-size: 20px
}
.information .information-club{
	position: relative;
	top:270px; 
}
.information .divider{
	width: 30px;
	height: 3px;
	background: red;
	margin-left: 50%;
}
.information .adjust{
	padding-top: 10px;
	position: relative;
    left: 252px;
}

.col-height{
	height: 0;
}
#about-us{
    height: 768px;
}
.content-box{
    height: 100%;
}

.content-box-innner .heading{
    width: 20%;
    margin: 0 auto;
    padding: 60px 0;
}

.heading>h3{
    font-family: mr dafoe, sans-serif;
    font-size: 40px;
    padding-bottom: 10px;
}

.heading>h4{
    font-family: poppins, sans-serif;
    font-size: 35px;
    padding-bottom: 10px;
}

.left-container{
    padding: 0;
    margin: 0;
}

.right-container{
    padding: 0;
    margin: 0;
}

/********************************************************************************************************************
                                                    OUR WORK
********************************************************************************************************************/

#what-we-are-doing{
    height: 768px;
}

.cover-image{
    background-image: url(../images/windmills.jpg);
    height: 768px;
}

.cover-image .content-box{
    background-color: rgba(0,0,0,0.9);
}

.bg-parallax{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/********************************************************************************************************************
                                                    HELP WORK
********************************************************************************************************************/


#help{
    height: 500px;
}

#help .container{
    margin-top: 150px;
}

.text-heading{
    font-family: Mr Dafoe, sans-serif;
    color: #CDCDCD;
}
.heading{
    font-family: sans-serif;
    text-transform: capitalize;
    font-weight: 800;
} 
.helper{
    padding-top: 20px;
    padding-bottom: 20px;
}

.btn-general{
    border: solid 2px #A0D405;
    padding: 10px 20px;
    text-transform: uppercase;
/*    font-weight: bold;*/
}
.btn-white{
    color: #000;
    background: #A0D405; 
}

#help .help-section{
    margin-top: 70px;
}
.border-gray{
    border: solid 2px #cdcdcd;
    border-radius: 3%;
}

.service-item{
    padding: 20px;
}
.division{
    padding-bottom: 10px;
}

.service-item:hover,
.service-item:focus{
    background-color: #A0D405;
    border: solid 2px  #A0D405 ;
   
}

/********************************************************************************************************************
                                                    PROJECTS SECTION
********************************************************************************************************************/
#projects{
    height: 956px;
}

/********************************************************************************************************************
                                                    TESTIMONIAL SECTION
********************************************************************************************************************/

#testimonials{
    height: 768px;
}

.testimonial{
    background-color: #A0D405;   
    margin: 0 7%;
}

.test-des-padding{
    padding-right: 10px;
    padding-top: 50px;
}

.name,.designation,.description{
    font-family: poppins,sans-serif;
    font-weight: bold;
    padding-bottom: 10px;
}
.designation{
    color: #fff;
}

.social-list{
    padding-left: 0;
}

.social-list li{
    list-style: none;
    display: inline-block;
    width: 32px;
    height: 32px;
    margin-right: 6px;
    margin-top: 10px;
}

.social-icon i{
    font-size: 16px;
    background-color: #fff;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    padding: 8px;
}

.icon-white{
    color: #fff;
}

.icon-green{
    color: #A0D405;
}

.icon-white:hover,
.icon-gray:hover{
    color: #34C6D3;
}
/*****************************************************
					quotes section
*****************************************************/


.content-1,.content-2,.content-3, .customer-name{
	font-size: 24px;
	font-weight: 700;
	letter-spacing: 1px;
	padding-top: 2px;
	color: #fff;
}
.quotes-img {
	background-image: url(../images/background.jpg);
    height: 300px;
}
#quotes .content-box{
    background-color: rgba(0,0,0,0.8);
}
.contents p{
	font-size: 15px;
	font-family: "poppins",sans-serif;
	margin-top: 120px;
}

.customer-name{
	text-align: center;
	position: relative;
    top: 100px;
	font-family: "poppins",sans-serif;
	font-size: 20px;
}
.content-1 {
	margin: 0 15px;
}
.testimonial-img{
    height: 300px;
    margin-top:  120px;
}


#clients{
    height: 100px;
    margin-top: 40px;
}
/********************************************************************************************************************
                                                    Footer SECTION
********************************************************************************************************************/

#footer{
    height: 400px;
    background-color: #444;
}

#footer .container{
    padding-top: 100px;
    color: #fff;
}

#footer .container .first img{
    margin-bottom: 15px;
}

#footer .container .second h4{
    margin-bottom: 30px;
}

#footer .container .second ul{
    list-style: none;
    padding-left: 0;    
}

#footer .container .second li{
    margin-bottom: 10px;    
    color: #777;
}

#footer .container .second li a{
    color: #777;
}

#footer .container .second li a:hover{
    color: #A0D405;
}

#footer .container .fourth .desc{
    margin: 20px 0;
}

#footer-bottom{
    height: 40px;
    background-color: #222;
}

#footer-bottom p{
    margin-top: 10px;
    color: #fff;
}

#footer-bottom p a {
    margin-left: 350px;
    color: #A0D405;
}

/*****************************************************
					for Button section
*****************************************************/
.btn-white{
	    color: #000;
    background-color: #F3F2F0;
    border-color:#F3F2F0;
}
.btn-green{
	color: #000;
    background-color: #A0D405;
    border-color:#A0D405;
}


/********************************************************************************************************************
*********************************************************************************************************************
                                                GALLERY PAGE
********************************************************************************************************************
********************************************************************************************************************/

.gallery-background-image{
    margin-top: 150px;
}
.gallery-background-image{
    background-image: url(../images/background.jpg);
    height: 300px;
}

.gallery-content{
    background-color: rgba(0,0,0,0.7);
    display: table;
    color: #fff;
    margin: 0 auto;
    height: 100%;
    width: 100%;
    
}

.gallery-content-inner{
    display: table-cell;
    vertical-align: middle;
    font-size: 40px;
}

.gallery-content-inner .bread-crumb{
    font-size: 15px;
}

.gallery-content-inner p{
    padding-bottom: 10px;
}


#gallery-images .container{
    margin-top: 70px;
    margin-bottom: 70px;
}

/***************************************************
			recent work
****************************************************/
#recent-work .background-img .image{
	background-image: url('../images/background.jpg') ;
	width: 350px;
    height: 400px;
/*    margin-left: 50px;*/
}
.background-img .image .upper-block{
	background: rgba(255,255,255,0.8);
	height: 100%;
	font-family: "poppins";
    box-shadow: -9px -16px 20px black;
}
#block1,#block2,#block3{
	display: none;
}
.background-img .image .upper-block h6,h2,p,h4{
	margin-left: 20px;
	text-align: center;
	margin-right: 20px;
}
.upper-block .content{
	margin-top: 80px;
}
.background-img .image .upper-block h6{
	padding-top: 25px;
}

.background-img .image .upper-block p{
	text-align: justify;
}
.upper-block .bottom .like{
	display: inline-block;
	margin-top: 20px;
	margin-left: 40px;
}
.upper-block .bottom .comment{
	display: inline-block;
	margin-top: 20px;
	margin-left: 190px;
}
#recent-work .background-img img:hover{
	box-shadow: -10px 12px 20px black;
}

.upper-block .bottom {
	background-color: #A0D405;
	height: 60px;
	    position: relative;
    bottom: -40px;
}

#recent-work .container{
    margin-bottom: 150px;
}


/**ABOUT PAGE**/

.contact-info{
    color: #cdcdcd;
    padding-top: 13px;
    padding-bottom: 13px;
    background-color: #000;
}
.inline{
    display: inline;
}

.mail{
    padding-left: 40px;
}

.float-right{
    float: right;
}

.icons{

    padding-right: 5px;
}

.navbar .container-fluid{
    background-color: #000;
}

.icon{
    padding-left: 200px;
}

.color-white{
    background-color: #fff;
    height: 100px;
}
.main-nav{
    margin-top: 20px;
    margin-right: 250px;
    background-color: #fff;
}

.btn-search{
    border: none;
}

ul li a{
    color: #000;
    font-family: sans-serif;
    font-weight: 600;
}


.home-cover{
    margin-top: 150px;
    background-image: url(../images/background.jpg);
    height: 300px;
    width: 100%;
}
.home-content-box{
    width: 100%;
    height: 100%;
    display: table;
}

.home-content-box-inner{
    display: table-cell;
    vertical-align: middle;
/*    text-align: center;*/
}

.bottom-links{
    color: #fff;
    font-size: 16px;
    padding: 0 10px;
}

.home span{
    color: #fff;
}

.home-content-box{
    display: table;
    
}
.home-heading  h3{
    color: #fff;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 40px;
}













